<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.mlmpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/noActionbar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.Help"
            android:parentActivityName=".activity.Home"
            android:theme="@style/Theme.MLMPro"></activity>
        <activity android:name=".activity.SinglePost" />
        <activity android:name=".activity.Notification" />
        <activity android:name=".activity.NewPassword" />
        <activity android:name=".activity.Comment" />
        <activity android:name=".activity.UpdateProfile" />
        <activity android:name=".activity.ForgetPassword" />
        <activity android:name=".activity.feature.NewPlanDetails" />
        <activity android:name=".VerifyOtp" />
        <activity android:name=".activity.feature.NewManufacturing" />
        <activity android:name=".activity.feature.NewProvider" />
        <activity android:name=".activity.feature.NewFcs" />
        <activity android:name=".activity.feature.NewGrowthCompany" />
        <activity android:name=".activity.feature.NewTrainingUpdate" />
        <activity android:name=".activity.feature.NewCompanyTopLeaders" />
        <activity android:name=".activity.feature.NewTopMlMTrainerNew" />
        <activity android:name=".activity.feature.NewTopCompanyNetword" />
        <activity android:name=".activity.feature.MlmProductManufacturing" />
        <activity android:name=".activity.feature.MlmProductServiceProvider" />
        <activity android:name=".activity.feature.FastCourierService" />
        <activity android:name=".activity.feature.CurrentGrowthCompany" />
        <activity android:name=".activity.feature.CompanyPlanDetail" />
        <activity android:name=".activity.feature.MLMSeminalUpdate" />
        <activity android:name=".activity.feature.CompanyTopLeaders" />
        <activity android:name=".activity.feature.TopMLMTrainer" />
        <activity android:name=".activity.feature.TopNetworkCompany" />
        <activity android:name=".activity.feature.NewFeature" />
        <activity android:name=".activity.feature.MLMCompanyList" />
        <activity android:name=".activity.Subscription" />
        <activity android:name=".activity.Referral" />
        <activity
            android:name=".activity.WalletScreen"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.NewPost"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.service.SocialMediaMarketing"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.service.Legal"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.service.VideoEditing"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.service.Software"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.service.Graphics"
            android:parentActivityName=".activity.Home" />
        <activity android:name=".activity.Home" />
        <activity android:name=".activity.CompleteProfile" />
        <activity
            android:name=".activity.ApplyInvitationCode"
            android:parentActivityName=".activity.Register" />
        <activity
            android:name=".activity.Register"
            android:parentActivityName=".activity.Login" />
        <activity android:name=".activity.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data
                    android:host="mlm.app"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://238327145283439:5UEtbzC94gXK_cxCT7vqy5ohC2E@dlyuhnc8i" />
    </application>

</manifest>